<form [formGroup]="parentFormGroup">
  <!-- <div class="header-container" *ngIf="detailsTab && detailsTab.loaded"> -->
  <div class="header-container">
    <div *ngIf="asiObservable$ | async as asi; else notShow">
      <h1 id="asiHeader" class="main-header">
        <span *ngIf="asi.asiStatusId === 7031">(draft)</span>
       {{ asi.name }}
      </h1>
    </div>

    <ng-template #notShow>
      <h1 id="asiHeader" class="main-header">New ASI</h1>
    </ng-template>

    <div class="button-container">
      <button
        *ngIf="asiId && hasReportPermissions && !isInDraftMode"
        class="save btn btn-primary"
        routerLink="/report/asi-report/edit/{{asiId}}"
      >
        Report
      </button>
      <button
        class="save btn btn-primary"
        (click)="submitEmailForm()"
        *ngIf="emailEnabled"
      >
        Send email
      </button>
      <app-quick-export-pdf #quickExportRef *ngIf="asiId && !isInDraftMode" [exportContext]="'asi'">
        <button
          [disabled]="(parentFormGroup.statusChanges | async) !== 'VALID' || parentFormGroup.dirty"
          [isDisabled]="(parentFormGroup.statusChanges | async) === 'VALID' && !parentFormGroup.dirty"
          tooltip="ASI must be saved"
          class="save btn btn-primary"
          (click)="quickExportRef.createAsiPdf(asi.id)"
        >
          Export
        </button>
      </app-quick-export-pdf>
      <ng-container *ngIf="{
        isSaving: isSaving$ | async
      } as savingState">
        <button
          type="submit"
          class="save btn btn-primary"
          id="saveButton"
          [disabled]="savingState.isSaving"
          (click)="saveAsiForm()">
          <span *ngIf="!savingState.isSaving; else saving">Save</span>
          <ng-template #saving>Saving ...</ng-template>
        </button>
      </ng-container>
      </div>

  </div>

  <!-- <pre
  class="card card-block card-header mb-3">Valid: {{parentFormGroup.valid}}</pre> -->

  <tabset #asiTabs>
    <tab class="tab-pane scrollbar" (selectTab)="detailsTabSelected()" id="detailsTab">
      <ng-template tabHeading>
        <span
          *ngIf="checkDetailTabStatus()"
          id="detailsWarningIndicator"
        >
          <fa-icon class="mr-2 text-danger" [icon]="iconStateError"></fa-icon>
        </span>
        Details
      </ng-template>
      <app-asi-tab-details></app-asi-tab-details>
    </tab>
    <tab class="tab-pane scrollbar" (selectTab)="phasesTabSelected()" id="phasesTab">
      <ng-template tabHeading>
        <span
          *ngIf="showDateExclamation"
          id="datesWarningIndicator"
        >
          <fa-icon class="mr-2 text-danger" [icon]="iconStateError"></fa-icon>
        </span>
        Dates
      </ng-template>

      <app-asi-tab-dates></app-asi-tab-dates>
    </tab>
    <tab
      heading="Impacts"
      class="tab-pane scrollbar"
      (selectTab)="impactsTabSelected()"
      id="impactsTab"
    >
      <app-asi-tab-impacts [parentFormGroupIsDirty]="parentFormGroup.pristine"></app-asi-tab-impacts>
    </tab>
    <tab
      *ngIf="asi && asi.isCurrent"
      [disabled]="asi && asi.asiStatusId === 2"
      heading="Responses"
      class="tab-pane scrollbar"
      (selectTab)="concurrencesTabSelected()"
      id="concurrencesTab"
    > <!-- TODO: Code items should probably also be renamed from concurrences to responses -->
      <app-asi-tab-concurrences></app-asi-tab-concurrences>
    </tab>
    <tab
      heading="Attachments ({{ attachmentsCount }})"
      class="tab-pane scrollbar"
      (selectTab)="attachmentsTabSelected()"
      id="attachmentsTab"
    >
      <app-asi-tab-attachments></app-asi-tab-attachments>
    </tab>
    <tab
      *ngIf="asi && asi.isCurrent"
      heading="Message board"
      class="tab-pane scrollbar"
      (selectTab)="messageBoardTabSelected()"
      id="messageBoardTab"
    >
      <app-asi-tab-message-board></app-asi-tab-message-board>
    </tab>
    <tab
      *ngIf="asi && asi.isCurrent"
      heading="History"
      class="tab-pane scrollbar"
      (selectTab)="historyTabSelected()"
      id="historyTab"
    >
      <app-asi-tab-history
        [moduleIdentifier]="historyIdentifier"
        [numberColumnTitle]="numberColumnTitle"
      >
      </app-asi-tab-history>
    </tab>
  </tabset>
</form>

<ng-template #emailComponent>
  adfdsfasd
  <app-email-composer
    class="modal-dialog-centered modal-xl modal-view"
    [endFunction]="emailModalRef.hide"
    [toEmails$]="modalService.config.initialState.toEmails$"
    [ccEmails$]="modalService.config.initialState.ccEmails$">
  </app-email-composer>
</ng-template>
