<h1>{{ title | uppercase }}</h1>
<!-- <app-observer></app-observer> -->
<hr>
<div class="container text-center my-3">
    <!-- <app-observer (open)="onOpen($event)" (close)="onClose($event)"></app-observer> -->
    <router-outlet></router-outlet>
    <app-promise></app-promise>
    <app-asyncpipe></app-asyncpipe>
    <app-event-emitter (open)="onOpen($event)" (close)="onClose($event)"></app-event-emitter>
    <div *ngFor="let message of messages" class="alert alert-sm alert-info">{{message.text}}</div>
    <h4><a href="https://www.maestralsolutions.com/angular-application-state-management-you-do-not-need-external-data-stores/" target="_blank">Link to great Article about Angular State</a></h4>
</div>

