#email-composer-wrapper {
  padding: 0;
  background-color: red;
}

.modal-content {
  /* content --
  add header, body, footer
  */
  background-color:green;
}


/* @media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}
 */