@media (min-width: 768px) {
  .modal.xl {
    width: 90%;
    max-width:1200px;
    /* background: purple; */
  }
}

/* New */
.modal-view{
  position:relative;
  /* width:inherit; */
  width: 800px;
  height: 45vh !important;
  background-color: rgba(17, 0, 252, 0.5);
}