<div class="card">
    <div>
        <h4>{{ name }}</h4>
        <p>
        <button type="button" class="btn btn-primary" (click)="openModal(emailComponent)"> Create template modal</button>
        </p>

        <ng-template #emailComponent>
            <!-- Add class="modal-dialog to app-email gives a vertical stretch, but not width -->
            <app-email name="{{ name }}" modalRef="{{ modalRef }}" class="modal-view">
            </app-email>
        </ng-template>

        <!-- TODO: Get functions to Email Component
            https://mdbootstrap.com/docs/b5/angular/components/modal/
         -->
</div>
