<div class="card">
    <div>
        <h4>{{ name }}</h4>
        <p>
        <button type="button" class="btn btn-primary" (click)="openModal(emailComponent)">Create template modal</button>
        </p>

        <ng-template #emailComponent>
            <app-email name="{{ name }}" class="modal-dialog-centered modal-xl modal-view">
            </app-email>
        </ng-template>


        <!-- TODO: Get this inside the Email Component
            https://mdbootstrap.com/docs/b5/angular/components/modal/

            <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Modal for user id : {{ modalService.config.initialState.id }}</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              This is a modal.
            </div>
        </ng-template> -->
</div>
