.modal-view {
  /* relative can also work here, but modal shrinks back to orig size */
  position:absolute !important; 
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  
  width: 100vh !important; 
  height: 85vh !important;
  background-color: rgba(17, 0, 252, 0.75);
}